# ホスト上のアップロードディレクトリ
HOST_UPLOADS_PATH=/home/user/directus_uploads
# シークレット (任意のランダムな文字列)
SECRET=random_secret_string
# データベース設定
DB_CLIENT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=directus
DB_USER=user
DB_PASSWORD=password
# 公開URL
PUBLIC_URL=http://localhost:8055
# 管理者アカウント設定
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin_password